* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

body {
	background-color: #212121;
}

html {
	scroll-behavior: smooth;
}

/*-----------------HEADER---------------------*/


.iconos {
	background-color: white;
	width: 90%;
	padding: 0px 5% 0px 5%;
	margin: auto;
}

#btn-menu {
	display: none;
}

.icon-menu {
	font-size: 2em;
}

.icon-menu {
	display: none;
}


header {
	width: 90%;
	margin: auto;
	background-color: white;
	/*background-color: red;*/
	padding: 0px 5% 0px 5%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}

.imgHeader {
	margin-left: 50px;
}


.texto {
	/*background-color: green;*/
	margin-top: 50px;
}

.texto h4 {
	margin-top: 50px;
	color: #ff4e00;
}

.texto h3 {
	font-size: 2em;
}

.texto h1 {
	font-size: 4em;
	margin-top: 20px;
}

.boton1 {
	padding: 20px 30px;
	margin-top: 40px;
	background-color: #ff4e00;
	border: none;
	font-weight: bold;
	color: white;
}

/*-----------------NAV---------------------*/

nav {
	width: 100%;
	
	/*background-color: pink;*/
	position: absolute;
	top: 0;
	left: 0;
	padding: 20px 10% 20px 5%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav a {
	text-decoration: none;
	margin-left: 20px;
	font-weight: bold;
	color: black;

}

.logo {
	width: 100px;
}

/*-----------------ABOUT---------------------*/

.about {
	width: 90%;
	background-color: white;
	margin: auto;
	padding: 100px 5% 0px 5%;
	display: flex;
}

.about img {
	position: relative;
	top: -40px;
	
	min-width: 700px;
	
	height: 500px;
}

.acerca {
	background-color: #2f2838;
	padding: 110px 60px 60px 60px;
}

.acerca h3 {
	font-size: 2em;
	color: #ff4e00;
	text-align: right;
	overflow-wrap: anywhere;
}

.acerca h2 {
	font-size: 3em;
	text-align: right;
	margin-top: 10px;
	color: white;
}

.acerca p {
	font-size: 1em;
	line-height: 2;
	margin-top: 20px;
	text-align: right;
	color: white;
}

/*-----------------GALERIA 1---------------------*/

.titleTar {
	width: 90%;
	padding: 100px 5% 40px 5%;
	margin: auto;
	background-color: white;
}

.titleTar h3 {
	color: #ff4e00;
	font-size: 1.5em;
}

.titleTar h2 {
	margin-top: 20px;
	font-size: 2em;
}



.tar {
	width: 90%;
	margin: auto;
	padding: 0px 5% 0px 5%;
	background-color: white;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;

}

.tarjeta {
	/*background-color: red;*/
	width: 300px;
	
	display: flex;
	flex-direction: column;

	margin-top: 20px;
	box-shadow: 1px 1px 5px #888888;
}

.imagen {
	width: 100%;
	height: 260px;
	/*background-color: green;*/
}

.imagen img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}



.flecha {
	width: 70px;
	height: 70px;
	background-color: #ff4e00;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
}

.abajoTar {
	/*background-color: pink;*/
	display: flex;
	justify-content: space-between;
}

.textoAbajoTar {
	width: 80%;
	display: flex;
	flex-direction: column;
	padding-top: 10px;
	padding-left: 20px;
	font-weight: bold;
	/*background-color: red;*/
}

.textoAbajoTar img {
	width: 150px;
	margin-top: 5px;

}


/*-----------MODAL GALERIA 1------------------*/

.modal-galeria1 {
	display: none;
}

.modal-galeria1:target {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	display: flex;
	align-items: center;
	justify-content: center;
	overflow-y: scroll;


}

.carta {
	width: 80%;
	/*background-color: red;*/
	display: flex;

}

.carta img {
	width: 100%;
	min-width: 400px;
}

.textoCarta {
	background-color: white;
	padding: 40px;
}

.textoCarta h2 {
	margin-top: 50px;
} 

.textoCarta p {
	margin-top: 50px;
	line-height: 2;
}
 
/*---------------------MENU IMG-------------------*/

.menuImg {
	width: 100%;
	background-color: white;
	padding: 20px 0% 20px 0%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
}

.menuImg img {
	width: 30%;
	min-width: 250px;
	margin: 10px 0px;
}


/*--------------------MODAL-MENU-------------------*/

.modalMenu:target {
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


 /*---------------------DESCUBRE----------------*/

 .descubre {
	width: 90%;
	padding: 100px 5% 40px 5%;
	margin: auto;
	background-color: white;
}

.descubre h3 {
	color: #ff4e00;
	font-size: 1.5em;
	text-align: center;
}

.descubre h2 {
	margin-top: 20px;
	font-size: 2em;
	text-align: center;
}

.menu {
	width: 90%;
	padding: 0px 5% 50px 5%;
	margin: auto;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	background-color: white;
}

.menu h3 {
	color: #ff4e00;
}

.menuGrupo1 {
	width: 500px;
	height: auto;
	/*background-color: red;*/
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
}

.menuGrupo1Basic {
	/*background-color: green;*/
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
	font-size: 1.1em;
}

.menuGrupo1Basic2 {
	margin-top: 5px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}


.menuGrupo1-a {
	width: 500px;
	height: auto;
	/*background-color: red;*/
	margin-top: 60px;
	margin-left: 10px;
	margin-right: 10px;
}

.menuGrupo1Basic-a {
	/*background-color: green;*/
	display: flex;
	justify-content: space-between;

	font-size: 1.1em;
}

.menuGrupo1Basic2-a {
	margin-top: 5px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

/*----------------SOMOS------------*/

.somos {
	width: 90%;
	padding: 40px 5% 50px 5%;
	margin: auto;
	background-color: #f6f6f6;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.tarjetaSomos {
	width: 500px;
	padding: 40px;
	background-color: white;
	display: flex;
	flex-direction: column;
	align-items: center;

}

.tarjetaSomos img {
	width: 120px;
	border-radius: 50%;
}

.tarjetaSomos p {
	margin-top: 20px;
	text-align: center;
	line-height: 1.5;
}


/*---------------TEXTO-CERRAR--------------------------*/

.cerr {
	font-weight: bold;

}

.cerr a {
	text-decoration: none;
}

/**************MEDIA***********************/


@media screen and (max-width: 1530px) {
	.texto h3 {
		font-size: 2em;
	}

	.texto h1 {
		font-size: 3em;
		margin-top: 20px;
	}
}

@media screen and (max-width: 1300px) {
	.menu {
		justify-content: center;
	}
}

@media screen and (max-width: 1490px) {
	.menuGrupo1 {
		margin-top: 20px;
	}

	.menuGrupo1-a {
		margin-top: 20px;
	}
}


@media screen and (max-width: 1274px) {
	.imgHeader {
		width: 100%;
		margin-top: 50px;
		margin-left: 0;
	}

	.about {
		flex-direction: column;
	}

	header {
		flex-direction: column;
		padding-top: 100px;
	}

	.texto {
		margin-top: 100px;
		width: 100%;
	}

	.acerca {
		padding: 20px;
	}

	.acerca h3 {
		font-size: 1em;
	}

	.acerca h2 {
		font-size: 2em;
	}

	.acerca p {
		font-size: 1em;
	}

	.about img {
		top: 0px;
		height: auto;
	}

	.somos {
		flex-direction: column;
	}

	.tarjetaSomos {
		margin-top: 20px;
		width: 90%;
	}

	.texto h4 {
	margin-top: 10px;
	}
}

@media screen and (max-width: 974px) {
	.carta {
		flex-direction: column;
	}

	.carta img {
		width: 100%;
	}

	
}

@media screen and (max-width: 874px){

	.about img {
		min-width: 100%;
	}
}

@media screen and (max-width: 756px) {
	.tar {
		justify-content: center;
	}

	

}

@media screen and (max-width: 608px) {

	nav {
		padding: 20px 5% 20px 5%;
	}
}


@media screen and (max-width: 576px) {
	nav {
		flex-direction: column;
		padding: 20px 5% 20px 5%;
	}

	

	.logo {
		width: 200px;
		margin: 20px 0;
	}

	.texto {
		margin-top: 150px;
	}

	.texto h4 {
	margin-top: 80px;
	}
}

@media screen and (max-width: 500px) {



	.texto h3 {
		font-size: 1.5em;
	}

	.texto h1 {
		font-size: 2em;
		margin-top: 20px;
	}

	.boton1 {
		padding: 10px 15px;
		margin-top: 20px;
	}

	.textoCarta h2 {
		margin-top: 10px;
		font-size: 1em;
	} 

	.textoCarta p {
		margin-top: 10px;
		line-height: 1.5;
		font-size: 0.8em;
	}
}

@media screen and (max-width: 452px) {
	nav a {
		display: block;
		margin-bottom: 20px;
	}

	.logo {
		margin-top: 20px;
	}

	.texto {
		
	}

	

	nav {
		flex-direction: column-reverse;

		
	}

	.iconos {
		background-color: #ff4e00;
		padding: 10px 5% 10px 5%;
	}

	.icon-menu {
		display: block;
		width: 40px;
		cursor: pointer;

	}

	.menuNav {
		position: absolute;
		background-color: white;
		width: 100%;
		transition: all 500ms ease;
		margin-left: -300%;
		padding-top: 20px;

		display: flex;
		flex-direction: column;
		align-items: center;
		top: 0;

	}

	#btn-menu:checked ~ .menuNav {
		margin: 0;
	}
}

@media screen and (max-width: 314px) {

	.menuImg img {
	min-width: 100%;
	
	}

}


